{% extends 'mainapp/wrapper.html' %}
				<!-- //Modal1 -->
			<!--/content-inner-section-->
{% load static %}
{% block content %}
			{% if error %}
				<div style="color: red">Ошибка: {{ error }}</div>
			{% endif %}
			<h3 class="agile_w3_title"> <span>Новинки</span></h3>
			<!--/movies-->
			<div class="w3_agile_latest_movies">

				<div id="owl-demo" class="owl-carousel owl-theme">
					{% for item in item_list %}
					<div class="item">
						<div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
							<a href="{% url 'mainapp:movie' item.0.id %}" class="hvr-sweep-to-bottom">
								{% if item.0.movie_image %}
								<img src="{{ item.0.movie_image.url }}" alt="Djoker" width="283px" height="390px"/>
								{% else %}
								<img src="{% static item.0.movie_url_image %}" alt="Djoker" width="283px" height="390px"/>
								{% endif %}
								<div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
							</a>
							<div class="mid-1 agileits_w3layouts_mid_1_home">
								<div class="w3l-movie-text">
                                    <h6 style="width: 100%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{% url 'mainapp:movie' item.0.id %}">{{item.0.movie_name}}</a></h6>
								</div>
								<div class="mid-2 agile_mid_2_home">
									<p>{{item.0.movie_date}}</p>
									<div class="block-stars">
										<ul class="w3l-ratings">
											{% for star in item.1 %}
                							{% if star == 2 %}
                							<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                							{% elif star == 1 %}
                							<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                							{% elif star == 0 %}
                							<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                							{% endif %}
                							{% endfor %}
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			</div>
		</div>
			<h3 class="agile_w3_title"><span>{{categories.0.category_name}}</span> </h3>
			<!--/requested-movies-->
				 <div class="wthree_agile-requested-movies">
					 				{% for movie in movies_category_1 %}
									<div class="col-md-2 w3l-movie-gride-agile requested-movies">
														<a href="{% url 'mainapp:movie' movie.id%}" class="hvr-sweep-to-bottom">
															{% if movie.movie_image %}
															<img src="{{ movie.movie_image.url }}" title="Movies Pro" class="img-responsive" alt="Djoker" width="283px" height="390px">
															{% else %}
															<img src="{% static movie.movie_url_image %}" title="Movies Pro" class="img-responsive" alt="Djoker" width="283px" height="390px">
															{% endif %}
															<div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
														</a>
															<div class="mid-1 agileits_w3layouts_mid_1_home">
																<div class="w3l-movie-text">
																	<h6><a href="index.html">{{movie.movie_name}}</a></h6>
																</div>
																<div class="mid-2 agile_mid_2_home">
																	<p>2019</p>
																	<div class="block-stars">
																		<ul class="w3l-ratings">
																			<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																			<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																			<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
																			<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
																			<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
																		</ul>
																	</div>
																	<div class="clearfix"></div>
																</div>
															</div>
														<div class="ribben one">
															<p>NEW</p>
														</div>
													</div>
													{% endfor %}
									</div>


									<div class="clearfix"></div>
{% endblock %}