{% extends 'mainapp/wrapper.html' %}

{% load static %}
{% block content %}
				<!-- //Modal1 -->
			<!--/content-inner-section-->
			{% if found_movies %}
    <h3 class="agile_w3_title"> <span>Найденные фильмы</span></h3>
    <div class="w3_agile_latest_movies">
            <div id="owl-demo" class="owl-carousel owl-theme">
                {% for movie in found_movies %}
                <div class="item">
                    <div class="w3l-movie-gride-agile w3l-movie-gride-slider ">
                        <a href="{% url 'mainapp:movie' movie.id %}" class="hvr-sweep-to-bottom"><img src="{% static movie.movie_url_image %}" title="KinoPoisk" class="img-responsive" alt=" " />
                            <div class="w3l-action-icon"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
                        </a>
                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                            <div class="w3l-movie-text">
                                <h6><a href="{% url 'mainapp:movie' movie.id %}">{{movie.movie_name}}</a></h6>
                            </div>
                            <div class="mid-2 agile_mid_2_home">
                                <p>2019</p>
                                <div class="block-stars">
                                    <ul class="w3l-ratings">
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="ribben one">
                            <p>NEW</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    </div>
    {% else %}
    <h3 class="agile_w3_title"> <span>По вашему запросу ничего не найдено</span></h3>
    {% endif %}
									<div class="clearfix"></div>
					</div>
			<!--//requested-movies-->

				<!--//tab-section-->

			<!--//content-inner-section-->

	<!--/footer-bottom-->
{% endblock %}